@page "/"
@using Springbrook.Shared
@inject HttpClient Http

<h1>Weather</h1>


<div class="container">
    <div class="row justify-content-start">
        <div class="col-1">
            <strong>
                State
            </strong>
        </div>
        <div class="col-2">
            <Dropdown UnboundText="@stateUnboundText" Data="@states" Value="@(x => x.Abbreviation)" Text="@(x => x.Name)" OnChange="@StateChangeAsync"></Dropdown>
        </div>
    </div>

    <div class="row justify-content-start">
        <div class="col-1">
            <strong>
                Region
            </strong>
        </div>
        <div class="col-2">
            <Dropdown UnboundText="@regionUnboundText" Data="@regions" Value="@(x => x.ID)" Text="@(x => x.Name)" OnChange="@RegionChangeAsync"></Dropdown>
        </div>
    </div>
</div>


@if (selectedRegion != null && forecasts == null)
{
    <div class="card m-3">
        <div class="card-body">
            <p class="card-text">Loading Forecast...</p>
        </div>
    </div>
}
else if (forecasts != null)
{
    @foreach (var forecast in forecasts)
    {
        <WeatherDetail Description="@forecast.Description" Title="@forecast.Name" />
    }
}

@if (error != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> @error
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@code {
    private WeatherState[] states;
    private string selectedState;
    private WeatherRegion[] regions;
    private string selectedRegion;
    private WeatherForecast[] forecasts;

    private string stateUnboundText;
    private string regionUnboundText;

    private string error;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            stateUnboundText = "Loading...";
            error = null;
            selectedRegion = null;
            regions = null;
            forecasts = null;

            states = await Http.GetFromJsonAsync<WeatherState[]>("WeatherState");
            stateUnboundText = "";
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }

    async Task StateChangeAsync(ChangeEventArgs args)
    {
        try
        {
            regionUnboundText = "Loading...";
            error = null;
            selectedRegion = null;
            regions = null;
            forecasts = null;

            selectedState = args.Value?.ToString();
            if (!selectedState.IsNullOrWhitespace())
            {
                regions = await Http.GetFromJsonAsync<WeatherRegion[]>($"WeatherRegion?stateAbbreviation={selectedState}");
            }
            regionUnboundText = "";
        }
        catch (Exception ex)
        {
            selectedState = null;
            error = ex.Message;
        }
    }

    async Task RegionChangeAsync(ChangeEventArgs args)
    {
        try
        {
            error = null;
            forecasts = null;

            selectedRegion = args.Value?.ToString();
            if (!selectedRegion.IsNullOrWhitespace())
            {
                forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>($"WeatherForecast?id={selectedRegion}");
            }

        }
        catch (Exception ex)
        {
            selectedRegion = null;
            error = ex.Message;
        }
    }
}
